# CR7 stats / Messi stats / Lewandowski stats

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [3]:
pip install --upgrade certifi

Requirement already satisfied: certifi in c:\users\bruno\anaconda3\lib\site-packages (2021.10.8)
Note: you may need to restart the kernel to use updated packages.

In [4]:
url = 'https://www.transfermarkt.com.br/cristiano-ronaldo/leistungsdatendetails/spieler/8198/saison//verein/0/liga/0/wettbewerb/CL/pos/0/trainer_id/0/plus/1'

In [5]:
#pd.read_html(url)

## CR7 - Total numbers in UCL

* CR7 Numbers by total

In [6]:
ucl_total_cr7 = pd.read_html('https://www.ogol.com.br/player_compets.php?grp_palm=2&id=1579&grp_eq=1&grp_esc=0')[1]

In [7]:
ucl_total_cr7

,com estatísticas completas,P,T,J,V,E,D,GM,A,AA,V.1,Unnamed: 11
0,Liga dos Campeões,19.0,5.0,178,113,34,31,136,20,0,1,detalhes
1,Europa League,1.0,0.0,2,0,1,1,0,0,0,0,detalhes
2,Supercopa Europeia,2.0,2.0,2,2,0,0,2,0,0,0,detalhes
3,Liga dos Campeões [Qualificação],3.0,0.0,4,3,1,0,1,0,0,0,detalhes
4,Mundial de Clubes,3.0,4.0,8,8,0,0,7,0,0,0,detalhes
5,Sem Fichas de Jogo,0.0,NaN,709,NaN,NaN,NaN,533,NaN,NaN,NaN,NaN
6,NaN,NaN,11.0,903 (194),(126),(36),(32),679 (146),(20),(0),(1),NaN

In [8]:
ucl_total_cr7 = ucl_total_cr7.drop(columns=['A', 'AA', 'V.1', 'Unnamed: 11'])

In [9]:
ucl_total_cr7 = ucl_total_cr7.rename(columns={'com estatísticas completas':'UCL','P':'Attendances', 'T':'Title Winner', 'J':'Matches', 'V':'Wins', 'E':'Draws', 'D':'Defeats' ,'GM':'Goals'})

In [10]:
ucl_total_cr7

,UCL,Attendances,Title Winner,Matches,Wins,Draws,Defeats,Goals
0,Liga dos Campeões,19.0,5.0,178,113,34,31,136
1,Europa League,1.0,0.0,2,0,1,1,0
2,Supercopa Europeia,2.0,2.0,2,2,0,0,2
3,Liga dos Campeões [Qualificação],3.0,0.0,4,3,1,0,1
4,Mundial de Clubes,3.0,4.0,8,8,0,0,7
5,Sem Fichas de Jogo,0.0,NaN,709,NaN,NaN,NaN,533
6,NaN,NaN,11.0,903 (194),(126),(36),(32),679 (146)

In [11]:
rows = ucl_total_cr7.index[1:7]
rows

RangeIndex(start=1, stop=7, step=1)

In [12]:
ucl_total_cr7.drop(rows, inplace=True)

In [13]:
ucl_total_cr7

,UCL,Attendances,Title Winner,Matches,Wins,Draws,Defeats,Goals
0,Liga dos Campeões,19.0,5.0,178,113,34,31,136

*  CR7 Numbers by seasons

In [14]:
season_ucl_total_cr7 = pd.read_html('https://www.ogol.com.br/player_compet_detail.php?id=1579&competicao_id=27')[1]

In [15]:
season_ucl_total_cr7

,Unnamed: 0,J,V,E,D,SG,M,T,RU,GM,...,Unnamed: 989,Unnamed: 990,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998
0,2021/22,2,1,0,1,3-3,162,2,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020/21,6,5,0,1,16-6,570,6,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019/20,8,6,1,1,14-6,712,8,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018/19,9,4,1,4,11-9,749,9,0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017/18,13,9,2,2,33-16,1170,13,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2016/17,13,9,3,1,36-18,1200,13,0,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015/16,12,9,2,1,28-6,1109,12,0,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2014/15,12,8,2,2,24-9,1065,12,0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013/14,11,10,1,0,37-7,993,11,0,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2012/13,12,6,3,3,26-18,1080,12,0,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...",...,"$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ..."
11,2011/12,10,8,1,1,26-7,900,10,0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2010/11,12,8,3,1,25-6,1021,12,0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2009/10,6,4,1,1,13-5,450,5,1,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2008/09,12,6,5,1,16-6,1010,11,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2007/08,11,8,3,0,18-5,1017,11,0,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2006/07,11,7,0,4,20-11,959,11,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2005/06,6,1,3,2,3-4,506,6,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2004/05,7,2,2,3,8-9,502,6,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2003/04,5,2,1,2,7-5,292,3,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,178,113,34,31,364-156,15467,173,5,136,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
rows1 = season_ucl_total_cr7.index[10]

In [17]:
season_ucl_total_cr7.drop(rows1, inplace=True)

In [18]:
season_ucl_total_cr7 = season_ucl_total_cr7.drop(season_ucl_total_cr7.iloc[:, 10:999], axis=1)
season_ucl_total_cr7

   Unnamed: 0    J    V   E   D       SG      M    T RU   GM
0     2021/22    2    1   0   1      3-3    162    2  0    2
1     2020/21    6    5   0   1     16-6    570    6  0    4
2     2019/20    8    6   1   1     14-6    712    8  0    4
3     2018/19    9    4   1   4     11-9    749    9  0    6
4     2017/18   13    9   2   2    33-16   1170   13  0   15
5     2016/17   13    9   3   1    36-18   1200   13  0   12
6     2015/16   12    9   2   1     28-6   1109   12  0   16
7     2014/15   12    8   2   2     24-9   1065   12  0   10
8     2013/14   11   10   1   0     37-7    993   11  0   17
9     2012/13   12    6   3   3    26-18   1080   12  0   12
11    2011/12   10    8   1   1     26-7    900   10  0   10
12    2010/11   12    8   3   1     25-6   1021   12  0    6
13    2009/10    6    4   1   1     13-5    450    5  1    7
14    2008/09   12    6   5   1     16-6   1010   11  1    4
15    2007/08   11    8   3   0     18-5   1017   11  0    8
16    2006/07   11    7   0   4    20-11    959   11  0    3
17    2005/06    6    1   3   2      3-4    506    6  0    0
18    2004/05    7    2   2   3      8-9    502    6  1    0
19    2003/04    5    2   1   2      7-5    292    3  2    0
20        NaN  178  113  34  31  364-156  15467  173  5  136

In [19]:
season_ucl_total_cr7.columns

Index(['Unnamed: 0', 'J', 'V', 'E', 'D', 'SG', 'M', 'T', 'RU', 'GM'], dtype='object')

In [20]:
season_ucl_total_cr7 = season_ucl_total_cr7.rename(columns={'Unnamed: 0':'Season', 'J':'Matches','V':'Wins', 'E':'Draws', 'D':'Defeats', 'SG':'Goals+Ass', 'M':'Minutes Played', 'GM':'Goals'})

In [21]:
season_ucl_total_cr7.drop(columns=['Goals+Ass','T','RU'], inplace=True)

In [22]:
season_ucl_total_cr7['Name'] = 'Cristiano Ronaldo'

In [23]:
minutes_per_gol = [81, 143, 178, 125, 78, 100, 69, 107, 58, 90, 93, 170, 64, 253, 127, 317, 0, 0, 0, 0]

In [24]:
season_played = [19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [25]:
age_cr7 = [36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 0]

In [26]:
season_ucl_total_cr7['Season Played'] = season_played

In [27]:
season_ucl_total_cr7["Min to Goal"] = minutes_per_gol

In [28]:
season_ucl_total_cr7["Age"] = age_cr7

In [29]:
season_ucl_total_cr7['Name'] = 'Cristiano Ronaldo'

# Lewa - Total numbers in UCL

* Lewa Numbers by total

In [30]:
ucl_total_lewa = pd.read_html('https://www.ogol.com.br/player_compets.php?grp_palm=2&id=71023&grp_eq=1&grp_esc=0')[1]

In [31]:
ucl_total_lewa

,com estatísticas completas,P,T,J,V,E,D,GM,A,AA,V.1,Unnamed: 11
0,Liga dos Campeões,11.0,1.0,98,65,13,20,77,9,0,0,detalhes
1,Europa League,2.0,0.0,14,4,6,4,2,2,0,0,detalhes
2,Supercopa Europeia,1.0,1.0,1,1,0,0,0,0,0,0,detalhes
3,Europa League [Qualificação],3.0,0.0,10,7,1,2,5,0,0,0,detalhes
4,Mundial de Clubes,1.0,1.0,2,2,0,0,2,0,0,0,detalhes
5,Sem Fichas de Jogo,0.0,NaN,546,NaN,NaN,NaN,402,NaN,NaN,NaN,NaN
6,NaN,NaN,3.0,671 (125),(79),(20),(26),488 (86),(11),(0),(0),NaN

In [32]:
ucl_total_lewa = ucl_total_lewa.drop(columns=['A', 'AA', 'V.1', 'Unnamed: 11'])

In [33]:
ucl_total_lewa = ucl_total_lewa.rename(columns={'com estatísticas completas':'UCL', 'P':'Attendance', 'T':'Title Winner', 'J':'Matches', 'V':'Wins', 'E':'Draws', 'D':'Defeats' ,'GM':'Goals'})

In [34]:
ucl_total_lewa

,UCL,Attendance,Title Winner,Matches,Wins,Draws,Defeats,Goals
0,Liga dos Campeões,11.0,1.0,98,65,13,20,77
1,Europa League,2.0,0.0,14,4,6,4,2
2,Supercopa Europeia,1.0,1.0,1,1,0,0,0
3,Europa League [Qualificação],3.0,0.0,10,7,1,2,5
4,Mundial de Clubes,1.0,1.0,2,2,0,0,2
5,Sem Fichas de Jogo,0.0,NaN,546,NaN,NaN,NaN,402
6,NaN,NaN,3.0,671 (125),(79),(20),(26),488 (86)

In [35]:
rows2 = ucl_total_lewa.index[1:7]
rows2

ucl_total_lewa.drop(rows, inplace=True)    

ucl_total_lewa

,UCL,Attendance,Title Winner,Matches,Wins,Draws,Defeats,Goals
0,Liga dos Campeões,11.0,1.0,98,65,13,20,77

* Lewa Numbers by seasons

In [36]:
season_ucl_total_lewa = pd.read_html('https://www.ogol.com.br/player_compet_detail.php?id=71023&competicao_id=27')[1]
season_ucl_total_lewa

,Unnamed: 0,J,V,E,D,SG,M,T,RU,GM,...,Unnamed: 989,Unnamed: 990,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998
0,2021/22,2,2,0,0,8-0,169,2,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020/21,6,6,0,0,21-6,514,6,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019/20,10,10,0,0,40-7,887,10,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018/19,8,4,3,1,16-8,714,8,0,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017/18,11,7,2,2,24-11,955,11,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2016/17,9,6,0,3,26-12,794,9,0,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015/16,12,8,2,2,30-11,942,11,1,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2014/15,12,8,1,3,33-13,932,10,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013/14,9,6,0,3,18-10,809,9,0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2012/13,13,7,4,2,24-14,1090,12,1,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...",...,"$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ..."
11,2011/12,6,1,1,4,6-12,523,6,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,98,65,13,20,246-104,8329,94,4,77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
rows3 = season_ucl_total_lewa.index[10]

season_ucl_total_lewa.drop(rows3, inplace=True)

season_ucl_total_lewa = season_ucl_total_lewa.drop(season_ucl_total_lewa.iloc[:, 10:999], axis=1)
season_ucl_total_lewa

   Unnamed: 0   J   V   E   D       SG     M   T RU  GM
0     2021/22   2   2   0   0      8-0   169   2  0   4
1     2020/21   6   6   0   0     21-6   514   6  0   5
2     2019/20  10  10   0   0     40-7   887  10  0  15
3     2018/19   8   4   3   1     16-8   714   8  0   8
4     2017/18  11   7   2   2    24-11   955  11  0   5
5     2016/17   9   6   0   3    26-12   794   9  0   8
6     2015/16  12   8   2   2    30-11   942  11  1   9
7     2014/15  12   8   1   3    33-13   932  10  2   6
8     2013/14   9   6   0   3    18-10   809   9  0   6
9     2012/13  13   7   4   2    24-14  1090  12  1  10
11    2011/12   6   1   1   4     6-12   523   6  0   1
12        NaN  98  65  13  20  246-104  8329  94  4  77

In [38]:
season_ucl_total_lewa = season_ucl_total_lewa.rename(columns={'Unnamed: 0':'Season', 'J':'Matches','V':'Wins', 'E':'Draws', 'D':'Defeats', 'SG':'Goals+Ass', 'M':'Minutes Played', 'GM':'Goals'})

In [39]:
season_ucl_total_lewa.drop(columns=['Goals+Ass','T','RU'], inplace=True)

In [40]:
age_lewa = [33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 0]

In [41]:
minutes_per_lewa = [42, 103, 59, 89, 191, 99, 105, 155, 135, 109, 521, 0]

In [42]:
season_played = [11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [43]:
season_ucl_total_lewa['Season Played'] = season_played

In [44]:
season_ucl_total_lewa["Min to Goal"] = minutes_per_lewa

In [45]:
season_ucl_total_lewa["Age"] = age_lewa

In [46]:
season_ucl_total_lewa['Name'] = 'Lewandowski'

In [47]:
season_ucl_total_lewa

,Season,Matches,Wins,Draws,Defeats,Minutes Played,Goals,Season Played,Min to Goal,Age,Name
0,2021/22,2,2,0,0,169,4,11,42,33,Lewandowski
1,2020/21,6,6,0,0,514,5,10,103,32,Lewandowski
2,2019/20,10,10,0,0,887,15,9,59,31,Lewandowski
3,2018/19,8,4,3,1,714,8,8,89,30,Lewandowski
4,2017/18,11,7,2,2,955,5,7,191,29,Lewandowski
5,2016/17,9,6,0,3,794,8,6,99,28,Lewandowski
6,2015/16,12,8,2,2,942,9,5,105,27,Lewandowski
7,2014/15,12,8,1,3,932,6,4,155,26,Lewandowski
8,2013/14,9,6,0,3,809,6,3,135,25,Lewandowski
9,2012/13,13,7,4,2,1090,10,2,109,24,Lewandowski
11,2011/12,6,1,1,4,523,1,1,521,23,Lewandowski
12,NaN,98,65,13,20,8329,77,0,0,0,Lewandowski

# Lionel Messi - Total numbers in UCL

* Messi Numbers by total

In [48]:
ucl_total_Messi = pd.read_html('https://www.ogol.com.br/player_compets.php?grp_palm=2&id=10592&grp_eq=1&grp_esc=0')[1]

In [49]:
ucl_total_Messi = ucl_total_Messi.drop(columns=['A', 'AA', 'V.1', 'Unnamed: 11'])

In [50]:
ucl_total_Messi = ucl_total_Messi.rename(columns={'com estatísticas completas':'UCL', 'P':'Attendance', 'T':'Title Winner', 'J':'Matches', 'V':'Wins', 'E':'Draws', 'D':'Defeats' ,'GM':'Goals'})

In [51]:
rows4 = ucl_total_Messi.index[1:7]
rows4

ucl_total_Messi.drop(rows4, inplace=True)    

ucl_total_Messi

,UCL,Attendance,Title Winner,Matches,Wins,Draws,Defeats,Goals
0,Liga dos Campeões,18.0,4.0,151,88,40,23,121

* Messi Numbers by seasons

In [52]:
season_ucl_total_messi = pd.read_html('https://www.ogol.com.br/player_compet_detail.php?id=10592&competicao_id=27')[1]
season_ucl_total_messi

,Unnamed: 0,J,V,E,D,SG,M,T,RU,GM,...,Unnamed: 989,Unnamed: 990,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998
0,2021/22,2,1,1,0,3-1,180,2,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020/21,6,3,1,2,11-10,540,6,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019/20,8,4,3,1,13-13,661,7,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018/19,10,7,2,1,23-9,837,9,1,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017/18,10,6,3,1,17-6,783,8,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2016/17,9,5,1,3,24-11,810,9,0,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015/16,7,4,2,1,15-7,630,7,0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2014/15,13,11,0,2,31-11,1146,13,0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013/14,7,4,2,1,13-5,630,7,0,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2012/13,11,5,3,3,18-14,825,9,2,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...",...,"$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ...","$(window).on('load', function(){ var html_id ..."
11,2011/12,11,7,3,1,31-10,990,11,0,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2010/11,13,9,3,1,30-9,1046,11,2,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2009/10,11,5,4,2,18-10,987,11,0,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2008/09,12,7,5,0,30-10,927,10,2,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2007/08,9,5,3,1,13-5,728,9,0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2006/07,5,1,2,2,5-6,385,4,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2005/06,6,4,2,0,14-3,321,4,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2004/05,1,0,0,1,0-2,90,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,151,88,40,23,309-142,12516,138,13,121,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
rows5 = season_ucl_total_messi.index[10]

season_ucl_total_messi.drop(rows5, inplace=True)

season_ucl_total_messi = season_ucl_total_messi.drop(season_ucl_total_messi.iloc[:, 10:999], axis=1)
season_ucl_total_messi

   Unnamed: 0    J   V   E   D       SG      M    T  RU   GM
0     2021/22    2   1   1   0      3-1    180    2   0    1
1     2020/21    6   3   1   2    11-10    540    6   0    5
2     2019/20    8   4   3   1    13-13    661    7   1    3
3     2018/19   10   7   2   1     23-9    837    9   1   12
4     2017/18   10   6   3   1     17-6    783    8   2    6
5     2016/17    9   5   1   3    24-11    810    9   0   11
6     2015/16    7   4   2   1     15-7    630    7   0    6
7     2014/15   13  11   0   2    31-11   1146   13   0   10
8     2013/14    7   4   2   1     13-5    630    7   0    8
9     2012/13   11   5   3   3    18-14    825    9   2    8
11    2011/12   11   7   3   1    31-10    990   11   0   14
12    2010/11   13   9   3   1     30-9   1046   11   2   12
13    2009/10   11   5   4   2    18-10    987   11   0    8
14    2008/09   12   7   5   0    30-10    927   10   2    9
15    2007/08    9   5   3   1     13-5    728    9   0    6
16    2006/07    5   1   2   2      5-6    385    4   1    1
17    2005/06    6   4   2   0     14-3    321    4   2    1
18    2004/05    1   0   0   1      0-2     90    1   0    0
19        NaN  151  88  40  23  309-142  12516  138  13  121

In [54]:
season_ucl_total_messi = season_ucl_total_messi.rename(columns={'Unnamed: 0':'Season', 'J':'Matches','V':'Wins', 'E':'Draws', 'D':'Defeats', 'SG':'Goals+Ass', 'M':'Minutes Played', 'GM':'Goals'})

In [55]:
season_ucl_total_messi.drop(columns=['Goals+Ass','T','RU'], inplace=True)
season_ucl_total_messi

     Season Matches Wins Draws Defeats Minutes Played Goals
0   2021/22       2    1     1       0            180     1
1   2020/21       6    3     1       2            540     5
2   2019/20       8    4     3       1            661     3
3   2018/19      10    7     2       1            837    12
4   2017/18      10    6     3       1            783     6
5   2016/17       9    5     1       3            810    11
6   2015/16       7    4     2       1            630     6
7   2014/15      13   11     0       2           1146    10
8   2013/14       7    4     2       1            630     8
9   2012/13      11    5     3       3            825     8
11  2011/12      11    7     3       1            990    14
12  2010/11      13    9     3       1           1046    12
13  2009/10      11    5     4       2            987     8
14  2008/09      12    7     5       0            927     9
15  2007/08       9    5     3       1            728     6
16  2006/07       5    1     2       2            385     1
17  2005/06       6    4     2       0            321     1
18  2004/05       1    0     0       1             90     0
19      NaN     151   88    40      23          12516   121

In [56]:
age_messi = [34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 0]

In [57]:
minutes_per_messi = [180, 108, 220, 70, 131, 74, 105, 115, 79, 103, 71, 87, 123, 103, 121, 385, 322, 0, 0]

In [58]:
season_played = [18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [59]:
season_ucl_total_messi['Season Played'] = season_played

In [60]:
season_ucl_total_messi["Min to Goal"] = minutes_per_messi

In [61]:
season_ucl_total_messi["Age"] = age_messi

In [62]:
season_ucl_total_messi['Name'] = 'Messi'

In [63]:
season_ucl_total_messi

,Season,Matches,Wins,Draws,Defeats,Minutes Played,Goals,Season Played,Min to Goal,Age,Name
0,2021/22,2,1,1,0,180,1,18,180,34,Messi
1,2020/21,6,3,1,2,540,5,17,108,33,Messi
2,2019/20,8,4,3,1,661,3,16,220,32,Messi
3,2018/19,10,7,2,1,837,12,15,70,31,Messi
4,2017/18,10,6,3,1,783,6,14,131,30,Messi
5,2016/17,9,5,1,3,810,11,13,74,29,Messi
6,2015/16,7,4,2,1,630,6,12,105,28,Messi
7,2014/15,13,11,0,2,1146,10,11,115,27,Messi
8,2013/14,7,4,2,1,630,8,10,79,26,Messi
9,2012/13,11,5,3,3,825,8,9,103,25,Messi
11,2011/12,11,7,3,1,990,14,8,71,24,Messi
12,2010/11,13,9,3,1,1046,12,7,87,23,Messi
13,2009/10,11,5,4,2,987,8,6,123,22,Messi
14,2008/09,12,7,5,0,927,9,5,103,21,Messi
15,2007/08,9,5,3,1,728,6,4,121,20,Messi
16,2006/07,5,1,2,2,385,1,3,385,19,Messi
17,2005/06,6,4,2,0,321,1,2,322,18,Messi
18,2004/05,1,0,0,1,90,0,1,0,17,Messi
19,NaN,151,88,40,23,12516,121,0,0,0,Messi

In [64]:
# APPEND

In [65]:
df_01 = season_ucl_total_cr7.append(season_ucl_total_messi)

In [66]:
df_02 = df_01.append(season_ucl_total_lewa)

In [67]:
df_02

,Season,Matches,Wins,Draws,Defeats,Minutes Played,Goals,Name,Season Played,Min to Goal,Age
0,2021/22,2,1,0,1,162,2,Cristiano Ronaldo,19,81,36
1,2020/21,6,5,0,1,570,4,Cristiano Ronaldo,18,143,35
2,2019/20,8,6,1,1,712,4,Cristiano Ronaldo,17,178,34
3,2018/19,9,4,1,4,749,6,Cristiano Ronaldo,16,125,33
4,2017/18,13,9,2,2,1170,15,Cristiano Ronaldo,15,78,32
5,2016/17,13,9,3,1,1200,12,Cristiano Ronaldo,14,100,31
6,2015/16,12,9,2,1,1109,16,Cristiano Ronaldo,13,69,30
7,2014/15,12,8,2,2,1065,10,Cristiano Ronaldo,12,107,29
8,2013/14,11,10,1,0,993,17,Cristiano Ronaldo,11,58,28
9,2012/13,12,6,3,3,1080,12,Cristiano Ronaldo,10,90,27
11,2011/12,10,8,1,1,900,10,Cristiano Ronaldo,9,93,26
12,2010/11,12,8,3,1,1021,6,Cristiano Ronaldo,8,170,25
13,2009/10,6,4,1,1,450,7,Cristiano Ronaldo,7,64,24
14,2008/09,12,6,5,1,1010,4,Cristiano Ronaldo,6,253,23
15,2007/08,11,8,3,0,1017,8,Cristiano Ronaldo,5,127,22
16,2006/07,11,7,0,4,959,3,Cristiano Ronaldo,4,317,21
17,2005/06,6,1,3,2,506,0,Cristiano Ronaldo,3,0,20
18,2004/05,7,2,2,3,502,0,Cristiano Ronaldo,2,0,19
19,2003/04,5,2,1,2,292,0,Cristiano Ronaldo,1,0,18
20,NaN,178,113,34,31,15467,136,Cristiano Ronaldo,0,0,0
0,2021/22,2,1,1,0,180,1,Messi,18,180,34
1,2020/21,6,3,1,2,540,5,Messi,17,108,33
2,2019/20,8,4,3,1,661,3,Messi,16,220,32
3,2018/19,10,7,2,1,837,12,Messi,15,70,31
4,2017/18,10,6,3,1,783,6,Messi,14,131,30
5,2016/17,9,5,1,3,810,11,Messi,13,74,29
6,2015/16,7,4,2,1,630,6,Messi,12,105,28
7,2014/15,13,11,0,2,1146,10,Messi,11,115,27
8,2013/14,7,4,2,1,630,8,Messi,10,79,26
9,2012/13,11,5,3,3,825,8,Messi,9,103,25
11,2011/12,11,7,3,1,990,14,Messi,8,71,24
12,2010/11,13,9,3,1,1046,12,Messi,7,87,23
13,2009/10,11,5,4,2,987,8,Messi,6,123,22
14,2008/09,12,7,5,0,927,9,Messi,5,103,21
15,2007/08,9,5,3,1,728,6,Messi,4,121,20
16,2006/07,5,1,2,2,385,1,Messi,3,385,19
17,2005/06,6,4,2,0,321,1,Messi,2,322,18
18,2004/05,1,0,0,1,90,0,Messi,1,0,17
19,NaN,151,88,40,23,12516,121,Messi,0,0,0
0,2021/22,2,2,0,0,169,4,Lewandowski,11,42,33
1,2020/21,6,6,0,0,514,5,Lewandowski,10,103,32
2,2019/20,10,10,0,0,887,15,Lewandowski,9,59,31
3,2018/19,8,4,3,1,714,8,Lewandowski,8,89,30
4,2017/18,11,7,2,2,955,5,Lewandowski,7,191,29
5,2016/17,9,6,0,3,794,8,Lewandowski,6,99,28
6,2015/16,12,8,2,2,942,9,Lewandowski,5,105,27
7,2014/15,12,8,1,3,932,6,Lewandowski,4,155,26
8,2013/14,9,6,0,3,809,6,Lewandowski,3,135,25
9,2012/13,13,7,4,2,1090,10,Lewandowski,2,109,24
11,2011/12,6,1,1,4,523,1,Lewandowski,1,521,23
12,NaN,98,65,13,20,8329,77,Lewandowski,0,0,0

In [68]:
#season_ucl_total_cr7.to_excel('season_ucl_total_cr7.xlsx')

In [69]:
#season_ucl_total_messi.to_excel('season_ucl_total_messi.xlsx')

In [70]:
#season_ucl_total_lewa.to_excel('season_ucl_total_lewa.xlsx')

In [71]:
df_02.to_excel('Tentativa.xlsx')